input,
textarea,
button {
  background-color: #242424;
  color: rgb(171, 171, 171);
  padding: 10px;
  border-radius: 5px;
  border: solid 1px rgb(171, 171, 171);
}
.notes-app_header {
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px rgb(171, 171, 171);
}

main {
  margin: auto;
  padding: 0px 20px;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-container > p {
  text-align: right;
}

.form-container > form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 10px;
}

.form-container > form > input {
  padding: 10px;
  border: solid 1px white;
  background-color: #242424;
}

.form-container > form > textarea {
  resize: none;
  padding: 10px;
  border: solid 1px white;
  background-color: #242424;
}

.form-container > form > button {
  padding: 10px;
  outline: none;
  border: solid 1px white;
  background-color: #242424;
  border-radius: 5px;
  cursor: pointer;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card-container::after {
  content: "";
  flex-basis: 370px;
}

.card {
  flex-basis: 350px;
  padding: 10px;
  padding-top: 0px;
  border: solid 1px white;
  border-radius: 5px;
}
.card > h3 {
  display: block;
  margin-top: 5px;
}
