nav {
  border-bottom: solid white 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  position: sticky;
  top: 0;
}

nav > input[type="text"] {
  min-width: 250px;
  height: 30px;
  outline: none;
  border: solid 1px white;
  border-radius: 5px;
}

nav > input[type="text"]:focus {
  box-shadow: 1px 1px 3px white;
}
